
@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

@*Użycie MCV Model Binder*@
<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]!; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>
